# Ignore Python files
backend/__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Ignore node_modules
frontend/node_modules/

# Ignore environment files
**/.env
*.env

# Build files
frontend/dist/
backend/staticfiles/
